@page
@model D.UI.MVC.Views.Home.Input

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form>
        <input type="text" name="beschrijving" />
        <input type="text" name="amount" />
        <input type="submit" /> 
    </form>
</div>
</body>
</html>

