
@{
    ViewData["Title"] = "Login";
}



<body>
 
    <!-- Inloggen -->
    <section id="login">
        <div class="container text-white">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h4>Aanmelden</h4>
                        </div>
                        <div class="card-body bg-dark">
                            <form action="index.html">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="password">Wachtwoord</label>
                                    <input type="password" class="form-control" />
                                </div>

                                <a href="https://localhost:44348/Home" type="button" class="btn btn-primary btn-block">Aanmelden</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());
    </script>
</body>
</html>

