@model IEnumerable<Domain.Project>

<h1>Projects</h1>

<table class="table">
    <tr>
        <th>
            <p>ID</p>
        </th>
        <th>
            <p>Project naam</p>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Bekijk vragenlijsten", "Questionnaires", "Home"
                    , new { id=item.id })
            </td>
        </tr>
    }
</table>