@model IEnumerable<Domain.ImageField>


@*<div class="container">
   <h2> Add new Image</h2>
   <div class="col-md-6">
      <form action="/Image/SaveTempData">
         <label>ImageTitle </label>
         <input type="text" id="imageText" name="imageText" class="form-control" /> <br/>
          
         <label>Image</label><br />
         <input type="file" id="UploadImage" name="UploadImage" class="form-control" /><br />
         <button class="btn btn-danger">Add</button>      
         
      </form>  
   </div>   
</div>*@


<div class="container">
   <h2>Image List</h2>
   @foreach (var item in Model)
   {
      var base64 = Convert.ToBase64String(item.data);
      var imageData = String.Format("data:image/png;base64,{0}", base64);
      
      <tr>
         <td>@item.imageName</td>
         
         <td>
            <img src=@imageData />
         </td>
      </tr>
      
      
      

      
   }
   
   
</div>
@*
<script>
  function AjaxPost(formData) {
      var inputfile = document.getElementById(filename);
      var files = inputfile.files;
      var fdata = new FormData();
      for (var i = 0; i !== files.length  ; i++) {
         fdata.append("files",files[i]);
      }

      $.ajax(
         {
            url:"/Image/",
            data: fdata,
            processData: false,
            contentType: false,
            type: "POST",
            succes: function(){
               console.log("xxx");
               alert("File upload succesfully ")

            },
            error: function () {
               alert("File upload failed!")
            }
         }
      );
      
      
   }
</script>*@
