@using Domain
@model Questionnaire

<h1>Delete Questionnaire</h1>

@using (Html.BeginForm("DeleteQuestionnaire", "Questionnaire", FormMethod.Post))
{
    <h3>Are you sure you want to delete this questionnaire?</h3>
    <h5>The questionnaire is about: @Model.name</h5>
    <input asp-for="id" type="hidden">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete Questionnaire" class="btn btn-default"/>
        </div>
    </div>
}